.class-room{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto;
}



.top{
    display: flex;
    height: 65px;
    align-items: center;
    flex-direction: row;
    
}
.first, .second, .third{
    display: flex;

}
.first{
    justify-content: flex-start;
}
.second{
    justify-content: center;
}
.third{
    padding: 0px 16px;
    justify-content: flex-end;
}
.nav-btn{
    padding: 0px 16px;
    
}
.logo{
    background-color: 
     black;
    color: white;
    padding: 0px, 32px, 0px, 0px;

 
}
.bottom{
    background-color: aquamarine;
  
}

.content{
    display: flex;
    height: 800px;

}
.content-column1{
    background-color: blue;
    width: 30%;
    
}
.content-column2{
    background-color: blueviolet;
    width: 70%;
    
}